<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" type = "text/css" href = "../css/index.css" />
    <meta charset="UTF-8">
    <title>EarthPull</title>
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';" />
  </head>
  <body>
    <div class="ep-background-container">
      <div class="ep-title-container">
        <h1 class="ep-title-h1">EarthPull</h1>
      </div>
    </div>
  </body>
</html>